<IfModule mod_rewrite.c>

RewriteEngine On

RewriteBase /e-voting.com/

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . /e-voting.com/index.php [L]

</IfModule>
